html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    --max-content-width: 440px;

    position: relative;
    min-height: 100dvh;
    min-height: 100vh;
    background-color: #1f1f1f;
    color: lightgray;
    color-scheme: dark;
}

main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: var(--max-content-width);
    margin: 8px auto;
}

.logo {
    display: block;
    width: 330px;
    margin: 0 auto 20px;
}

.mission-info {
    margin: 0 auto 24px;
    padding: 16px;
    border-radius: 16px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(255 255 255 / 0.06);

    & h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    & p {
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 4px;
    }

    & #mission-description {
        margin-top: 16px;
    }
}

.data-label {
    margin-right: 1ch;
}

.countdown-display {
    text-align: center;
    color: orangered;

    & #countdown-time {
        font-size: 2.25rem;
    }

    & #countdown-labels {
        font-size: 1.275rem;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: #121212;
    unicode-bidi: unset;

    & #footer-copy {
        display: flex;
        align-items: center;
        gap: 1ch;
    }
}