html, body {
    margin: 0;
    padding: 0;
}
header .logo {
    width: 12rem;
    display: block;
    margin: auto;
}
body {
    /* text-align: center; */
    background-color: #1f1f1f;
    color-scheme: dark;
}
main {
    width: 500px;
    max-width: 90%;
    height: 100vh;
    margin: 8px auto;
}
p {
    margin: .5rem;
}
.mission-info {
    /* position: relative; */
    margin: 0 auto 30px;
    padding: 8px 16px 12px;
    text-align: left;
    color: lightgray;
    background-color: rgb(40, 44, 48);
    /* font-family: monospace; */
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 16px;
}
.mission-info h3 {
    margin-top: 6px;
    text-align: center;
}
.mission-info #mission-description {
    padding-top: 16px;
    font-weight: 300;
}
.countdown-display {
    text-align: center;
    font-family: 'Nova Mono', monospace;
    font-size: 1.5em;
    color: orangered;
}
#countdown-time {
    font-size: 1.6rem;
}
#countdown-labels {
    font-size: 1.8rem;
    text-transform: uppercase;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: .8rem;
    color:lightgrey;
    background-color: #000;
}
footer > #footer-copy {
    position: left;
    padding-left: 6px;
    text-align: left;
}
footer > #footer-contacts {
    position: absolute;
    right: 1.5rem;
}
footer a {
    margin-right: 8px;
}
/* .mission-info::before {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    background-image: url(./icons8-info.svg);
    content: '';
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */